<body>
    <div class="container">
        <div class="div-home">
            <a type="button" href="/dashboard">Home</a>
        </div>
        <h2>Baptism Form</h2>
        <form [formGroup]="baptismForm" (ngSubmit)="onSubmitBaptismForm()" class="formContainer">
            <div class="section">
                <h3>Baptism Information</h3>
                <label for="parish">Parish:</label>
                <input type="text" id="parish" formControlName="parish">

                <label for="baptism_date">Date:</label>
                <input type="date" id="baptism_date" formControlName="baptism_date">

                <label for="minister">Minister:</label>
                <input type="text" id="minister" formControlName="minister">

                <label for="sponsor">Sponsor:</label>
                <input type="text" id="sponsor" formControlName="sponsor">

                <p *ngIf="successMessage">{{ successMessage }}</p>
                <p *ngIf="errorMessage">{{ errorMessage }}</p>
            </div>
            <div class="div-btns">
                <button type="button" (click)="navigateToPersonalInfo()">Back</button>
                <button type="submit" [disabled]="baptismForm.invalid">Save</button>
                <button type="button" (click)="navigateToEucharist()">Next</button>
            </div>
        </form>
    </div>
</body>