body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #e7c75f78;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2); */
}

.sidebar h2 {
    color: #4A002A;
    margin-bottom: 30px;
}

/* Sidebar buttons */
.sidebar button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    background-color: #4A002A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

/* Button hover effect */
.sidebar button:hover {
    background-color: #4a002a3f;
}

/* Role banner styling */
.role-banner {
    background-color: #e7c75f;
    color: #4A002A;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    margin: 1% auto 20px auto;
    margin-top: 25%;
    display: inline-block;
    box-shadow: 0 2px 8px rgba(74, 0, 42, 0.08);
}

/* Main dashboard section */
.dashboard {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    background-image:url(../../../public/golden-cross2.jpg);
    background-size:auto 100%;
    /* background-attachment:local; */
    background-repeat:no-repeat;
    background-position: center;
}

.dashboard h1 {
    color: #4A002A;
    font-size: 46px;
    margin-bottom: auto;
}

/* Total Christians display */
.total-christians {
    background-color: #4A002A;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow */
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    color: white;
}