<!-- Dashboard Component HTML -->

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>Dashboard</h2>
        <button (click)="navigateToSearch()">Search Christian</button>
        <button (click)="navigateToForm()">Add Christian</button>
        <button (click)="logoutChristian()">Logout</button>
    </div>

    <!-- Dashboard Content -->
    <div class="dashboard">
        <h1>Archdiocese of Nyeri</h1>
        <h2>Christian Data Management System</h2>
        

        <div class="total-christians" (change)="loadUserCount()">
            Total Christians: <span id="christianCount">{{ christianCount }}</span>
        </div>

        <div *ngIf="showBanner" class="role-banner">
            {{ bannerMessage }}
        </div>
    </div>
</body>