<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>

<body>

    <div class="auth-container">
        <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
            <h2>Register Account</h2>
                <input type="text" id="name" placeholder="Full Name" formControlName="name" required>
                <div *ngIf="!form.controls.name?.valid && form.controls.name.touched">
                    <p *ngIf="form.controls.name.errors?.['required']">
                        Full name is required!
                    </p>
                </div>
            <p>
                <input type="email" id="email" placeholder="Email Address" formControlName="email">
            </p>
            <div *ngIf="!form.controls.email?.valid && form.controls.email.touched">
                <p *ngIf="form.controls.email.errors?.['required']">
                    Email is required!
                </p>
                <p *ngIf="form.controls.email.errors?.['email']">
                    Email is invalid!
                </p>
            </div>
            <p>
                <input type="password" id="password" placeholder="Password" formControlName="password">
            </p>
            <div *ngIf="!form.controls.password.valid && form.controls.password.touched">
                <p *ngIf="form.controls.password.errors?.['required']">
                    Password is required!
                </p>
                <p *ngIf="form.controls.email.errors?.['email']">
                    Password is invalid!
                </p>
            </div>

            
            <label for="role">Select Role</label>
            <select id="role" formControlName="role" required>
                <option value="" disabled selected>Role</option>
                <option value="Admin">Admin</option>
                <option value="Clergy">Clergy</option>
            </select>
            <div *ngIf="!form.controls.role.valid && form.controls.role.touched">
                <p *ngIf="form.controls.role.errors?.['required']">
                    Role is required!
                </p>
            </div>

            <p style="color: black;" *ngIf="successMessage">{{ successMessage }}</p>
            <p style="color: red;" *ngIf="errorMessage">{{ errorMessage }}</p>
            <p style="color: black" *ngIf="registerMessage">{{ registerMessage }}</p>
            
            <button type="submit" [disabled]="form.invalid">Register</button>
            <!-- <p *ngIf="!form.valid && errorMessage" class="error-message">{{ errorMessage }}</p> -->
            <p style="color: black;">Already have an account? <span><a routerLink="/login">Login</a></span></p>
        </form>
    </div>

</body>

</html>